.icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 7px;
    align-items: center;
    font-family: Arail;
}





.content {
    margin-top: 36px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 2%;
    font-family: Arail;

    /* background-color: #3b34b8; */
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

body {
    margin: 0%;
    font-family: Arail;
    /* background-color: blue; */
}

.container {
    display: block;
    padding-top: 3%;
    font-family: Arail;

}

h2,
h3,
p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0.6%;
    font-family: Arail;

}

h3 {
    margin-top: 4%;
    margin-bottom: -1%;
    font-family: Arail;

}

.profile-pic {
    width: 159px;
    height: 193px;
    border: 2px solid black;
    margin-right: 20px;
    font-family: Arail;
}


.personal-details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    /* background-color: #3b34b8; */
    /* color: antiquewhite; */
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arail;


}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arail;
}

.contact p {
    padding-bottom: 8px;
    font-family: Arail;

}

hr {
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 1px;
}

@page {
    margin: 0%;
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact;



}

.square1 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 63px;
    width: 30px;
    position: absolute;
    margin-top: 8.5%;
}

.square2 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 59px;
    width: 30px;
    position: absolute;
    margin-top: 15.5%;
}

.square3 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 58px;
    width: 30px;
    position: absolute;
    margin-top: 22.5%;

}

.square4 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 58px;
    width: 30px;
    position: absolute;
    margin-top: 29.5%;


}

.square5 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 121px;
    width: 30px;
    position: absolute;
    margin-top: 44.5%;
}

.square6 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 126px;
    width: 30px;
    position: absolute;
    margin-top: 56.5%;

}

.square7 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 118px;
    width: 30px;
    position: absolute;
    margin-top: 70.5%;

}

.square8 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 128px;
    width: 30px;
    position: absolute;
    margin-top: 75%;

}

.square9 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 98px;
    width: 30px;
    position: absolute;
    margin-top: 93%;
}

.square10 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 166px;
    width: 30px;
    position: absolute;
    margin-top: 108%;

}

.square11 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 97px;
    width: 30px;
    position: absolute;
    margin-top: 129%;

}

.square12 {
    background-color: lightseagreen;
    color: lightseagreen;
    height: 56px;
    width: 30px;
    position: absolute;
    margin-top: 144%;

}

.skill-tools {
    font-weight: 500;
}


button {
    background-color: #727272;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 33px;
    font-size: 18px;
    border: 2px solid black;
    margin: 2px;
    border: none;
    font-family: Arail;

}

main {
    margin-left: 7.2%;
    margin-right: 7.2%;
    font-family: Arail;
}

h4 {
    margin-bottom: -20px;
    font-family: Arail;

}

.Education {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arail;
}

.marks {
    display: flex;
    flex-direction: column;
    height: 224px;
    justify-content: space-between;
    gap: 22%;
    align-items: center;
    font-style: italic;
    color: rgb(62, 61, 61);
    font-family: Arail;
}

.link-code {

    display: flex;
    height: 22px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arail;
}

.certificate-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    font-family: Arail;
}

.language-setone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arail;

}

.print-btn {
    background-color: green;
    font-size: 20px;
    width: 30%;
    margin: 40px;
    height: 50px;
    font-family: Arail;

}

.print-btn:hover {
    background-color: rgb(43, 169, 43);
    font-family: Arail;
}

@media print {
    .noprint {
        visibility: hidden;
        font-family: Arail;

    }

    button {
        color: rgb(255, 255, 255);
        font-family: Arail;
    }

    .square-boxes {
        visibility: hidden;
        font-family: Arail;
    }
}

.color-text {
    color: lightseagreen;
    font-style: italic;
    font-weight: lighter;
    font-family: Arail;

}


.educa {
    /* color: rgb(19, 109, 254); */
    color: black;
    background-color: beige;
    padding: 2px 0px 2px 10px;
    font-family: Arail;
}